.header__title {
  font-family: Archivo Black;
  font-weight: 400;
  font-style: normal;
  font-size: 4.5rem;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}

.header__subtitle {
  font-family: Open Sans;
  font-weight: normal;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff80;
}

.p.header__description {
  font-family: Open Sans;
  font-weight: normal;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}

.header__link {
  position: relative;
  display: inline-block;
  width: fit-content; /* clave */

  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5;

  color: #ffffff;
  text-decoration: none;
  margin-bottom: 110px;
}

.header__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;

  width: 100%;
  height: 3px;

  background: linear-gradient(90deg, #4c1a97 0%, #6d6dff 100%);
}
.skills__title {
  font-family: Archivo Black;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}

.projects__title {
  font-family: Archivo Black;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}

.project-card__name {
  font-family: Open Sans;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}

.project-card__desc {
  font-family: Open Sans;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 100%;
  letter-spacing: 0%;
}

.project-card__link-text {
  width: 132;
  height: 22;
  top: 1603px;
  left: 150px;
  opacity: 1;
  color: #6d6dff;
}

.project-card__github {
  width: 83;
  height: 22;
  top: 1603px;
  left: 302px;
  opacity: 1;
  color: #ffffff99;
}

.footer__title {
  font-family: Archivo Black;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
}

.footer__email {
  font-family: Open Sans;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #6d6dff;
  text-decoration: none;
}
.project-card__link {
  text-decoration: none;
}
