.contenedor__flex {
  justify-content: space-between;

  display: flex;
  gap: 1.25rem; /* 20px */
  align-items: flex-start;
  margin-bottom: 0;
}

.contenedor__left {
  padding-top: 49px;
  margin: 0;
  max-width: 793px;
  min-width: 0;
}

.header__actions {
  display: flex;
  gap: 1.875rem;
}
.header__title {
  margin-top: 0;
  margin-bottom: 0.93rem;
}
.header__subtitle {
  margin-bottom: 1.87rem;
}

.header__description {
  margin-bottom: 1.875rem;
}

.header__photo-image {
  width: 387px;
  height: 500px;
}
a.header__link:hover {
  opacity: 50%;
}

@media screen and (max-width: 1023px) {
  .header__photo-image {
    width: 216px;
    height: 279px;
  }

  .header__title {
    font-size: 58px;
    line-height: 100%;
  }
  .header__subtitle {
    font-size: 18px;
    line-height: 100%;
  }

  .header__description {
    font-size: 18px;
    line-height: 100%;
  }

  .header__link {
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
  }
}

@media screen and (max-width: 767px) {
  .contenedor__flex {
    flex-direction: column;
    align-items: center;
  }

  .header__title {
    font-size: 10px;
  }
  .projects__grid {
    max-width: 688px;
  }

  .header__actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }

  .header__photo-image {
    width: 280px;
    height: 280px;
    order: -1;
  }

  a.header__link {
    margin-bottom: 25px;
  }

  .header__description {
    font-size: 16px;
    line-height: 100%;
  }
  .skills__title {
    font-size: 28px;
  }

  .project-card__name {
    font-size: 20px;
    font-weight: bold;
  }

  .project-card__desc {
    font-size: 16px;
  }
}
